#spring.cloud.gateway.discovery.locator.enabled=true

spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

server:
  port: 8765

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# http://localhost:8765/service-another-micro-dude/service1/feign-bla
# http://localhost:8765/service-micro-dude-kman/consume-me
# http://localhost:8765/get
