eureka:
  instance:
    hostname: localhost
  client:
    fetch-registry: false
    register-with-eureka: false
#  server:
#    enable-self-preservation: false

server:
  port: 8761

#  spring.cloud.config.uri=http://localhost:9090
#  spring.cloud.config.fail-fast=true
#  spring.cloud.config.retry.max-interval=10000
#  spring.cloud.config.retry.max-attempts=2000


#  sleuth:
#    sampler:
#      probability: 1.0

management:
  endpoints:
    web:
      exposure:
        include=*: